input.ng-invalid.ng-touched{
    border:1px solid red;
}

.maindiv{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
}

.toast-body{


}

.toast{
    border-radius: 10px;
    background-color: #EC0101;
    color: white;
    font-weight: bolder;
    margin-top: 20px;
}
