


  <div style="margin-top: 10%;padding-right: 15%;padding-left:15%;">
    <div style="text-align: center;">
      <img src="https://projrap.herokuapp.com/appicon.png" style="height: 100px;">

      <div class="toast">
        <!-- <div class="toast-header">
          Toast Header
        </div> -->
        <div class="toast-body" >
          Wrong Credentials!!
        </div>
      </div>
      
    </div>
    <br>
    <div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
          <label for="email">Username</label>
          <input type="text" id="username" class="form-control" ngModel name="username" required/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" ngModel name="password" required/>
        </div>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Login</button> |
          <button class="btn btn-primary" type="button" (click)="signup()">Signup</button>
        </div>
      </form>
    </div>
  </div>