input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

/* .drop-zone{
    max-width:200px;
    height: 200px;
    padding:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 20px;
    cursor:pointer;
    color: black;
    border:4px dashed #009578;
    border-radius: 10px;
    margin-bottom: 10px;
}

.drop-zone--over{
  border-style: solid;
}

.drop-zone__input{
  display: none;
}

.drop-zone__thumb{
  width:100%;
  height:100%;
  border-radius:10px;
  overflow:hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
  
}

.drop-zone__thumb::after{
  content:attr(data-label);
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  padding:5px 0;
  color:#ffffff;
  background: rgba(0,0,0,0.75);
  font-size: 14px;
  text-align: center;
} */

.file-upload{
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}

.file-upload__input{
  display: none;
} 

.file-upload__button{
  -webkit-appearance:none;
  background: #009879;
  border:2px solid #00745D;
  border-radius: 4px;
  outline: none;
  padding: 0.5em 0.8em;
margin-right:15px;
color:#ffffff;
font-size: 1em;
font-family: 'Quicksand',sans-serif;
font-weight: bold;
cursor: pointer;
}

.file-upload__button:active{
background: #00745D;
}

.file-upload__label{
  max-width: 250px;
  font-size: 0.95em;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
  font-family: 'Quicksand',sans-serif;
}
