<div class="list-group maindiv">

    <div>
        <input class="form-control" type="text" style="width:90%;display: inline-block;" placeholder="Write comment here.." [(ngModel)]="comment">
        &nbsp;
        <i class="fas fa-arrow-circle-right" style="font-size: 30px;display: inline-block;position: relative;top: 5px;" (click)="abc()"></i>      
    <div>
    <br>
    <a class="list-group-item list-group-item-action anchor" *ngFor="let comment of comments">
    <div class="row no-gutters">
        <div class="col-md-2">
        
            <div class="imgcircle">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" class="imgphoto" alt="ProfilePhoto">
             </div>
        
        </div>
        <div class="col-md-10">
        
                <div class="d-flex w-100 justify-content-between pos">
                  <h5 class="mb-1" style="font-size:15px;font-weight: bold;">{{comment.name}}</h5>
                <p class="mb-1" style="font-size:13px;">{{comment.date}}</p>
                </div>
                
                <div>
                <small style="font-size: large;">{{comment.comment}}</small>
                </div>
        
        </div>
    </div>
    </a>

</div>
